.DS_Store
*.obj
*.exe
*.sh
*.py
*.bin
*.res
.vscode
.vs/
Log.txt
!PDFs/*.PDF
intermediates
*.lib
!Sphere.lib*.exp
*.o
OGL.exe
freeglut-*
*\.gradle
res
.prop
*.jar
*.tomal
*.pro
gradlew
build/
.idea/
test/
*.PDF
*.bat